.brands {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 63px 0;
}

.brand__link {
	margin: 0 49px;
	transition: 0.4s;

	&:hover {
		opacity: 0.5;
		transition: 0.4s;
	}
}