.culture {
	background: $cultureBg;
}

.articles-container {
	display: flex;
	box-sizing: border-box;
	padding: 87px 0 0 0;
	justify-content: space-between;
}

.culture__box {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 33.33%;
	box-sizing: border-box;
	padding: 10px;
}

.section__subtitle--smallfont {
	font-size: 1.4rem;
}

.culture__box--lines {
	position: relative;

	&::after {
		position: absolute;
		content: '';
		width: 170px;
		height: 2px;
		background: $lightGrey;
		top: 40px;
    	right: -85px;
	}

	&::before {
		position: absolute;
		content: '';
		width: 170px;
		height: 2px;
		background: $lightGrey;
		top: 40px;
    	left: -85px;
	}
}