
	//font-family: 'Montserrat', sans-serif;
	//font-family: 'Roboto Slab', serif;

//
//=========variables=========
//

$mainGreen: #7cc576;
$logoColor: #555555;
$lightGrey: #777777;
$headerGrey: #cccccc;
$mainBlack: #222222;
$greyBg: #e9e9e9;
$cultureBg: #f9f9f9;
$footer-text-color: #ececec;


body, html {
	font-size: 62.5%;

}


.section__title {
	font-size: 4rem;
	font-family: 'Montserrat', sans-serif;
	color: $mainBlack;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 25px 0;

}

.section__subtitle {
	font-family: 'Roboto Slab', serif;
	font-size: 2rem;
	color: $lightGrey;
	text-align: center;
}

.section--padding {
	box-sizing: border-box;
	padding: 100px 16.5%;
}


.btn--big {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 1.6rem;
	color: #fff;
	text-transform: uppercase;
	margin: 59px 0 0 0;

	box-sizing: border-box;
	padding: 24px 39px;
	background: $mainGreen;
	border-radius: 35px;
	border: none;
}

