.header {
	height: 530px;
	width: 100%;
	margin-top: 116px;
	background: url('../img/header-bg.jpg') no-repeat;
	background-size: cover; 
	background-position: center;
	background-attachment: fixed;
	position: relative;
	z-index: 0;
	text-align: center;

	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.75);
		z-index: -1;
	}
}

.header__title {
	font-family: 'Montserrat';
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	font-size: 6rem;
	text-align: center;
	padding: 113px 0 0 0; 
}

.newLine::after {
	content: '\A';
	white-space: pre;

}

.header__subtitle {
	font-family: 'Roboto Slab', serif;
	color: #fff;
	font-size: 2rem;
	text-align: center;
	margin: 43px 0 0 0;
	color: $headerGrey;
}