@media screen and (max-width: 1660px) {
	.lastest-projects {
		background-size: 50%;
		background-position: 125% 76%;
	}

	.section--padding {
		padding: 100px 8%;
	}
}

@media screen and (max-width: 1100px) {
	.section--padding {
		padding: 100px 2.5%;
	}
	.lastest-projects {
		background-size: 50%;
	}

	.footer__bottom {
		padding: 31px 2.5%;
	}

	.brand__link {
		margin: 6px 49px;
	}

	.footer__sections-wrapper {
		padding: 60px 2.5%;
	}
}


@media screen and (max-width: 1036px) {
	.top-nav {
		padding: 44px 2.5%;
	}
}

@media screen and (max-width: 948px) {

	.culture__title {
		text-align: center;
	}
	.culture__box {
		width: 25%;
	}

	.culture__box--lines {
		&::after {
		width: 100px;
		}

		&::before {
			width: 100px;
		}
	}
}

@media screen and (max-width: 778px) {
	.articles-container {
		flex-direction: column;
		align-items: center;
	}

	.culture__box {
		width: 100%;
	}

	.culture__box--lines {
		margin: 50px 0;
		&::after {
			display: none;
		}

		&::before {
			display: none; 
		}
	}

	.lastest-projects {
		background: none;
	}
}

@media screen and (max-width: 700px) {
	.services-container {
		flex-direction: column;
	}

	.services__service {
		width: 70%;
		margin: 25px 0;
	}

	.header__title {
		font-size: 4rem;
	}

	.section__title {
		font-size: 3rem;
	}

	.wedo__left-side {
		display: none;
	}

	.clients__quotes-container {
		flex-direction: column;
		align-items: center;
		margin: 64px 0;
	}

	.clients__quotebox {
		max-width: 100%;
	}

	.clients__quotebox:nth-child(2), .clients__quotebox:nth-child(1) {
		margin: 0;
	}

	.author_image {
		margin: 25px 0;
	}

	.clients__quotebox:nth-child(2)::before {
		content: '';
	    position: absolute;
	    left: 50%;
	    transform: translate(-100%, -85%) rotate(90deg);
	    top: 0;
	}

	.clients__quotebox:nth-child(1)::before {
		top: 100%;
		transform: translate(100%, -15%) rotate(90deg);
		right: 50%;
	}

	.nav__menu {
		flex-direction: column;
		width: 100%;
		transition: 0.5s;
		overflow: hidden;
		opacity: 1;
	}

	.top-nav {
		flex-direction: column;
		align-items: center;

		&--hidden {
			padding: 10px 2.5%;
		}
	}

	.menu__item {
		margin: 10px 0;
		width: 100%;
		height: 30px;
		text-align: center;
	}

	.menu__link {
		display: block;
		height: 100%;

	}

	.nav__logo-list {
		margin: 25px 0;
	}


	.hamburger-btn { 
		display: block;
	}

	.footer__sections-wrapper {
		flex-wrap: wrap;
	}

	.copyrights {
		margin: 0 15px 0 0;
	}
	.footer__media-icons {
		margin: 25px 0 0 0;
	}

	.projects-subtitle {
		margin: 0 50px 0 0;
	}
}

@media screen and (max-width: 700px) and (orientation: landscape) {
	.nav__logo-list {
		margin: 0;
	}

	.hamburger-btn {
		top: 28px;
	}

	.header {
		margin-top: 65px;
	}
}

@media screen and (max-width: 427px) {
	.wedo-btn {
		margin: 16px 0 0 0;
	}

	.wedo__right-side {
		padding: 0 20px;
	}

	.footer__section {
		margin: 0 0px 50px 0;
	}

	.header__title {
		font-size: 3rem;
	}

	.header__subtitle {
		font-size: 1.8rem;
	}

	.hamburger-btn {
		right: 20px;
	}
}
