.top-nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: #fff;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 44px 16.5%;
	z-index: 99;
}

.logo-icon {
	width: 31px;
	margin-right: 7px;
}

.menu__link {
	font-size: 1.4rem;
	font-family: 'Montserrat';
	font-weight: 500;
	display: flex;
	align-items: center;
	color: $lightGrey; 
	text-decoration: none;
	text-transform: uppercase; 
	margin: 0 19px;
}

.logo__link {
	font-size: 1.8rem;
	font-weight: 700;
	color: $logoColor;
}

.nav__menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

